<!-- component -->
<div
  class="bg-[#ecf2f7] flex items-center justify-center min-h-screen font-nunito text-slate-600"
>
  <section class="max-w-[968px] w-full mx-4">
    <ul
      class="w-full bg-white p-8 rounded-lg gap-3 flex items-start justify-center shadow-[0px_10px_15px_9px_#DDE4F1] flex-col sm:flex-row relative overflow-hidden mb-10"
    >
      <li class="pr-4 overflow-hidden grow">
        <span class="absolute slide-in-top bg-gradient-to-r from-[#6c73ff] to-[#676bbe] text-white px-24 py-[4px] rounded-br-lg left-0 top-0 text-sm"
          >Most Popular</span
        >
        <h2 class="mb-3 text-xl font-[800] mt-3">World Explorer</h2>
        <p class="max-w-lg text-lg">
          Recipients will be able to search for U.S. and international family
          with access to billions of records from 80+ countries.
        </p>
      </li>
      <li
        class="bg-[#f4faff] px-4 rounded-md min-w-[240px] self-stretch flex items-start justify-center flex-col"
      >
        <label
          for="msix"
          class="flex items-center justify-start w-full gap-0 p-3 font-semibold cursor-pointer"
        >
          <input
            type="radio"
            class="w-[20px] aspect-square"
            name="period"
            id="msix"
          />
          <span class="inline-block pl-3 text-xl"
            >$99 <span class="text-sm text-slate-800">/ 6 months</span></span
          >
        </label>
        <label
          for="mtwelve"
          class="flex items-center justify-start w-full gap-2 p-3 font-semibold cursor-pointer"
        >
          <input
            type="radio"
            class="w-[20px] aspect-square"
            name="period"
            id="mtwelve"
          />
          <span class="text-xl"
            >$189 <span class="text-sm text-slate-800">/ 12 months</span></span
          >
        </label>
      </li>
    </ul>
    <p class="max-w-xl m-auto text-sm text-center text-slate-400">
      Keep in mind that this is a one-time, non-renewing membership and you will
      only be billed for the cost of the membership you select above.
    </p>
    <button
      class="mb-20 px-20 py-4 text-white bg-[#f1626e] mx-auto block mt-5 rounded-xl text-lg transition-all duration-150 ease-in hover:bg-[#d14f5a]"
    >
      Order now
    </button>
  </section>
</div>
